.App {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Modify the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* Modify the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Change to desired color */
  border-radius: 6px; /* Half of the width to create a rounded appearance */
}

/* Modify the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Change to desired color on hover */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
