@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body{
    @apply font-title-font text-white
    bg-black
  }

  td {
    @apply p-6
  }
}


@layer components {

  .tool-tips {
    @apply absolute w-auto min-w-max mb-0 m-2 pb-0 p-1 top-8
    dark:bg-[#0f1011] bg-[#e3e3e3] rounded-md text-center
    scale-0 transition-all duration-100
    dark:text-[#e3e3e3] text-[#222326]
  }

  .slick-dots li button:before {
    @apply text-white
  }

  .navbar-icons{
    @apply m-2 p-1 pt-0 flex items-center justify-center
    dark:text-[#c70039] text-[#059eff]
  }

  .navbar-icons-sm{
    @apply m-2 p-1 mr-5 pt-0 flex justify-start
    dark:text-[#c70039] text-[#059eff] text-center
  }

  .small-box{
    @apply
    hidden lg:block
    box-border border-8 w-full h-full p-5
    dark:border-[#0f1011] border-gray-100
    dark:bg-[#222326] bg-white dark:text-[#e3e3e3]
    text-[#222326]
  }
  .big-box{
    @apply
    box-border border-8 w-full h-full p-5
    dark:border-[#0f1011] border-gray-100
    dark:bg-[#222326] bg-white dark:text-[#e3e3e3]
    text-[#222326]
  }

  .footer-icons {
    @apply m-2 p-1 pt-0 flex items-center justify-center
    dark:text-[#c70039] text-[#059eff]
  }

  .will-change-transform {
    will-change: transform;
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  .shake {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .shake-input {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both,
    border-color 0.5s ease-in-out;
    border-color: red; /* Change the border color when shaking */
  }


}